<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="prose mx-auto">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div>
        <% if user_signed_in? %>
            <div class="mb-10 nav">
                <%= link_to "View All Posts", root_path, class: "nav-link" %>
                <%= link_to "New Blog Post", new_blog_post_path, class: "nav-link" %>
                <%= link_to "Profile", edit_user_registration_path, class: "nav-link" %>
                <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-button bg-gray-100 px-4 py-2 rounded hover:bg-gray-200" %>
            </div>
        <% else %>
            <div class="mb-10 nav">
                <%= link_to "Login", new_user_session_path, class: "nav-button bg-gray-100 px-4 py-2 rounded hover:bg-gray-200" %>
                <%= link_to "Sign Up", new_user_registration_path, class: "nav-button bg-gray-100 px-4 py-2 rounded hover:bg-gray-200" %>
            </div>
        <% end %>
    </div>

    <%= yield %>
  </body>
</html>
